# 1. Ignore everything
*

# 2. But do NOT ignore these specific files
!.gitignore
!.config/
!.config/**/*
!.aerospace.toml
!.zshrc.config/github-copilot/apps.json
!.p10k.zsh
d.config/github-copilot/apps.json
